$brand-primary: #ff5722;
$brand-dark: #e74a19;
$brand-success: #537dfe;

$white: #fff;

$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans serif;

$link-color: darken(#428bca, 6.5%);
$navbar-inverse-bg: $brand-dark;
$navbar-inverse-color: $white;
$navbar-inverse-link-color: $navbar-inverse-color;
